.Rproj.user
.Rhistory
.RData
.Ruserdata
AdelieTranquil.Rproj
*.png
cover3.jpg
oldcontent
/public
themes
wview-archive.sdb
index.html
favicon.ico
index.Rmd
keepold.RData
netlify.toml
.Rproj.user_lessold
.Rproj.user_old
README
.Rprofile
.hugo_build.lock
